<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicolas.appprogmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Inicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="Login" />
        <activity
            android:name=".LoginEmpresa"
            android:label="LoginEmpresa" />
        <activity
            android:name=".Add"
            android:label="Cadastrar" />
        <activity
            android:name=".AddEmpresa"
            android:label="CadastrarEmpresa" />
        <activity
            android:name=".EmpresaView"
            android:label="Detalhes" />
        <activity
            android:name=".Update"
            android:label="Atualizar"></activity>
        <activity
            android:name=".ClienteEscolheServico"
            android:label="ClienteEscolheServico"></activity>
        <activity
            android:name=".ClienteSolicitaAgendamentoEvento"
            android:label="ClienteSolicitaAgendamentoEvento"></activity>
    </application>

</manifest>